.menu{
    display: flex;
}
.nav{
    margin-top: 2rem;
    display: flex;
}
.span__curr{

    margin-left: 5rem;
}
.span__lang{
    margin-left: 15rem;
}
.span__profile{
    margin-left: 40rem;
    margin-right: 2rem;
}
.cart__itemCount{
    width:5rem;
    margin-left: 1rem;
    margin-right: 1rem;
}
.cart__itemPrice{
    width: 5rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

/*________________________________________________________________________________________*/
.mainHeading{
    color: #FF4252;
    margin-top: 3rem;
    margin-left: 50%;
    font-size: 2rem;
    font-weight: 900;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    opacity: 100%;

}

.hamburger__menu{
    margin-right: 2rem;
    width: 20px;
    height:20px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.hamburger__menu > div{
    width: 100%;
    height: 3px;
    background: grey;

}

.menuContainer{
    display: flex;
    margin-left: 35%;

}
    
  .dropdown {
    float: left;
    overflow: hidden;
    font-size: 1rem;
    font-weight: 900;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: white;
    margin: 0;
  }
  
  .dropdown-content {
    display: none;
    background-color: honeydew;
    position: absolute;
    width: fit-content;
    font-size: small;
    font-weight: 700;
    color: grey;
    z-index: 1;
  }
  
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropbtn:hover{
      color: blue;
  }
  
  /* Create three equal columns that floats next to each other */
  .column {
    float: left;
    padding: 10px;
    height: 250px;
  }
  
  .column a {
    float: none;
    color: black;
    padding: 16px;
    text-decoration: none;
    display: block;
  }
  
  .column a:hover {
    background-color: #ddd;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .bannerImage{
      margin: 2rem;
      width: 100%;
      height: 45rem;
      background-position: center;
      background-repeat: no-repeat;
      background-image: url('https://cdn.guidingtech.com/media/assets/WordPress-Import/2016/09/_1200x630_crop_center-center_82_none/shutterstock_321562646.png?mtime=1506103922');
      z-index: 0;
      color:whitesmoke;
      text-align: center;
      font-weight: 700;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .bannerText{
      display: none;
  }
  .imageHead{

     font-size: 2rem;
     padding-top: 5rem;
  }
  .imagePara{

      text-align: left;
      margin:1rem;
      font-weight: 400;
  }
  .imageMore{

      font-size: small;
      text-decoration: underline;
  }

  @media (max-width:960px){
      .nav{
          display: none;
      }
      .menuContainer{
          display: none;
      }
      .headingContainer{
          display: flex;
          justify-content: space-around;
          margin-bottom: 3rem;
      }
      .hamburger__menu{
        display: flex;
        margin-top: 2.5rem;
        margin-right: 2rem;
    }
    .mainHeading{
        margin-left: 2%;
        margin-top: 2rem;
    }
    .bannerImage{

        width:100%;
        height: 20rem;
        margin:0;
        background-repeat: no-repeat;
        background-image: url('https://i1.wp.com/www.mobileworldlive.com/wp-content/uploads/2018/12/Apple-logo-clouds-shutterstock-650-e1565266431121.jpg?fit=650%2C401&ssl=1');
    }
    .bannerText{
        display: block;
                

    }
    .imagePara{
        overflow-wrap: break-word;
        word-wrap: break-word;
        hyphens: auto;
    }
    
  }